.nav-bar{
    /* position: absolute; */
    bottom: -40%;
    width: 100vw;
    height: 45px;
    background-color: var(--gray);
    margin-top: 50px;
}
.nav-bar img{
    width: 20px;
    position: relative;
}
.home{
    left: 11%;
    top: 25%;
}
.profile{
    left: 41%;
    top: 25%;
}
.burguer{
    left: 70%;
    top: 20%;
}